<div *ngIf="data | async  as srvResp else elseBlock">
    <div class="d-flex justify-content-end me-lg-5">
        <button (click)="loadData()" mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="d-flex justify-content-around flex-wrap">
        <div *ngFor="let server of srvResp._data | keyvalue">
            <mat-card class="info-card mt-5 w-100" *ngIf="srvResp._data as info">
                <mat-card-header>
                    <a routerLink="{{server.key}}">
                        <mat-card-title>{{server.key}}</mat-card-title>
                        <mat-card-subtitle>
                            <div *ngIf="getValue(info, server.key) as servData">
                                <div *ngFor="let gen of servData?.general | keyvalue">
                                    <span>Last execution: <span class="fw-bold">{{getDateParsed(gen.key)}}</span></span>
                                </div>
                            </div>
                        </mat-card-subtitle>
                    </a>
                </mat-card-header>

                <mat-card-content *ngIf="getValue(info, server.key) as generalInfo">
                    <div *ngIf="generalInfo?.serv_not_running_auto as services">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Automatic Services Not Running
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{services.length}}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div *ngFor="let service of services">
                                    <div class="d-flex justify-content-between mt-3">
                                        <div class="">{{service?._display_name}}</div>
                                        <div class="">
                                            <button mat-raised-button color="primary" (click)="sendActionService(server.key, service._name, 'start')">Start</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div *ngFor="let general of generalInfo?.general | keyvalue">
                        <div *ngIf="getValue(generalInfo?.general, general.key) as information"
                             class="d-flex justify-content-around flex-wrap mt-4">

                            <div class="w-50 h-50 text-center">
                                <p>CPU Usage</p>
                                <canvas baseChart
                                        [data]="getCpuUsage(information?._cpu_usage)"
                                        type="doughnut"
                                        [legend]="true"
                                        resp>
                                </canvas>
                            </div>

                            <div class="w-50 h-50 text-center">
                                <p>Memory Usage</p>
                                <canvas baseChart
                                        [data]="getMemoryUsage(information?._memory?._total, information?._memory?._used)"
                                        type="doughnut"
                                        [legend]="true">
                                </canvas>
                            </div>

                            <div class="w-50 h-50 text-center">
                                <p>Disk Usage</p>
                                <canvas baseChart
                                        [data]="getDisksUsage(information?._disks)"
                                        type="doughnut"
                                        [legend]="true">
                                </canvas>
                            </div>

                        </div>
                    </div>

                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="d-flex justify-content-center align-items-center h-90">
        <div class="">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</ng-template>